.graph__wrapper {
    height:10rem;
    width:100%;
    display:flex;
    background-color:#1A1717;
    align-items:center;
}   

.stats__wrapper {
    display:flex;
    flex-direction: row;
}

.statsCard {
    width:100%;
    padding-left:.5rem;
    padding-right:.5rem;
    padding-bottom:1rem;
}

